doctype html
html(lang="vi")
    head
        include jades/head.jade
        link(rel="stylesheet" href="css/about-us.css")
    body
        include jades/header.jade
        include jades/navbar.jade
        main
            section.content-one
                .container
                    .content-text
                        h2  about us
                        a(href="") Home
                        span about-us
            section.content-two
                .container
                    .row
                        .col-sm-6.col-xs-12
                            .content-two-img
                                img(src='images/5.png')
                        .col-sm-6.col-xs-12
                            .content-two_text
                                h5 Welcome to FamilyPizza
                                h6  ABOUT US
                                img(src='images/18.png')
                                p  The one day when the lady met this fellow and they knew it was much more than a hunch the first mate and his Skipper too will do their comfortable its like a kind of torture to have to watch the show the ship set ground on the shore of this uncharted desert isle with too the millionaire and his wife If you have a problem if no one else can help can hire Gilligan the Skipper.
                                p  The one day when the lady met this fellow and they knew it was much more than a hunch the first mate and his Skipper too will do their comfortable.
                                .main-icon
                                    i.fa.fa-facebook
                                    i.fa.fa-twitter
                                    i.fa.fa-google-plus
                                    i.fa.fa-instagram
                                button.btn.btn-view view-more
            section.content-three
                .content-three_bg
                    .container
                        .slick-content
                            .slick-item
                                img(src="images/2.jpg")
                                .slick-item-text
                                    p The one day when the lady met this fellow and they knew it was much more than a hunch the first mate and his Skipper too will do their comforta
                                    .your-name
                                        h5 MARK DEO
                                        h4  Founder,Timeday

                            .slick-item
                                img(src="images/1.jpg")
                                .slick-item-text
                                    p The one day when the lady met this fellow and they knew it was much more than a hunch the first mate and his Skipper too will do their comforta
                                    .your-name
                                        h5 LISA WISH
                                        h4  Founder,Timeday

            section.content-for
                .container
                    .content-for_text
                        h5 Our Spicy Creature
                        h6  FEATURES
                        img(src="images/11.png")
                        p
                            | The one day when the lady met this fellow and they knew it was much more than a hunch the first mate and his
                            br
                            | Skipper too will do their comfortable.

                    .row
                        .col-sm-4.col-xs-12
                            .content-for-img
                                img(src="images/21.png")
                                .info
                                    .name Maria luis
                                    .service Chief cook
                                    .info_icon
                                        i.fa.fa-facebook
                                        i.fa.fa-twitter
                                        i.fa.fa-google-plus
                                        i.fa.fa-instagram
                                    .icon-mail
                                        i.fa.fa-envelope-o
                        .col-sm-4.col-xs-12
                            .content-for-img
                                img(src="images/34.png")
                                .info
                                    .name Maria luis
                                    .service Chief cook
                                    .info_icon
                                        i.fa.fa-facebook
                                        i.fa.fa-twitter
                                        i.fa.fa-google-plus
                                        i.fa.fa-instagram
                                    .icon-mail
                                        i.fa.fa-envelope-o
                        .col-sm-4.col-xs-12
                            .content-for-img
                                img(src="images/35.png")
                                .info
                                    .name Maria luis
                                    .service Chief cook
                                    .info_icon
                                        i.fa.fa-facebook
                                        i.fa.fa-twitter
                                        i.fa.fa-google-plus
                                        i.fa.fa-instagram
                                    .icon-mail
                                        i.fa.fa-envelope-o
            section.content-five
                .content-five-content
                    .container
                        .slick-img
                            .img-item
                                .img-item-content
                                    img(src="images/36.png")
                            .img-item
                                .img-item-content
                                    img(src="images/37.png")
                            .img-item
                                .img-item-content
                                    img(src="images/38.png")
                            .img-item
                                .img-item-content
                                    img(src="images/39.png")
                            .img-item
                                .img-item-content
                                    img(src="images/40.png")
                            .img-item
                                .img-item-content
                                    img(src="images/36.png")
                            .img-item
                                .img-item-content
                                    img(src="images/37.png")
                            .img-item
                                .img-item-content
                                    img(src="images/38.png")
                            .img-item
                                .img-item-content
                                    img(src="images/39.png")
                            .img-item
                                .img-item-content
                                    img(src="images/40.png")
            section.content-six
                .content-six-content
                    .container
                        .row
                            .col-sm-6.col-xs-12
                                .order-form
                                    h2  FILL THE ORDER
                                    .bg-yellow
                                    .bg-black1
                                    .form-order
                                        input.your-name(type='text', placeholder='YOUR NAME*')
                                        input.your-mail(type='text', placeholder='YOUR MAIL*')
                                        input.your-phone(type='text', placeholder='YOUR PHONE NUMBER*')
                                        input.your-adddress(type='text', placeholder='YOUR ADDRESS*')
                                        button.btn.btn-order_now order-now
                            .col-sm-5.offset-sm-1.col-xs-12
                                .content-six-text
                                    h2 Our Fun Facts
                                    img(src="images/41.png")
                                    p The one day when the lady met this fellow and they knew it was much more than a hunch the first mate and his Skipper too will do their comfortable.
                                    .impormation_group-content
                                        .impormation_group
                                            .impormation-item
                                                i.fa.fa-coffee
                                                span 825
                                                p coffee cups
                                            .impormation-item
                                                i.fa.fa-user
                                                span 1500
                                                p happy clients
                                        .impormation_group
                                            .impormation-item
                                                i.fa.fa-trophy
                                                span 20
                                                p awards
                                            .impormation-item
                                                i.fa.fa-home
                                                span 75
                                                p branches
        include jades/footer.jade
        .background-moblie
        script(type='text/javascript' src="js/libs/jquery-3.2.1.slim.min.js")
        script(type='text/javascript' src="js/libs/bootstrap-4.0.0.min.js")
        script(type="text/javascript" src="js/libs/slick.js")
        script(type="text/javascript" src="main.js")