doctype html
html(lang="vi")
        head
            include jades/head.jade
            link(rel="stylesheet" href="css/our-blog.css")
body
        include jades/header.jade
        include jades/navbar.jade
        main
            section.content-one
                .container
                    .content-text
                        h2  blog
                        a(href="") Home
                        span blog

            section.content-two
                .container
                    .row
                        .col-sm-8.order-xs-2
                            .content-left
                                .content-left-item
                                    a(href="")
                                        img(src="images/3.jpg")
                                    .item-title
                                        .date
                                            h5 07
                                            span APR
                                        .text
                                            h5
                                                a(href="") PIZZAMANIA FLAVOURS
                                            span BY
                                            a.other(href="") GEORGE WILLAMS
                                            a.other(href="") 25 LIKES
                                            a.other(href="") 20 COMMENTS
                                    p The one day when the lady met this fellow and they knew it was much more than a hunch the first mate and his Skipper too will do their comfortable all of them had hair of gold like their mother the youngest one in curls knight Rider a shadowy flight into the dangerous world of a man who does not exist now were up in the big leagues getting our turn at bat.
                                    a.read-more(href="blog.html")
                                        button.btn.btn-orange read more
                                .content-left-item
                                    a(href="")
                                        img(src="images/4.jpg")
                                    .item-title
                                        .date
                                            h5 07
                                            span APR
                                        .text
                                            h5
                                                a(href="") DREAM CELEBRATIONS
                                            span BY
                                            a.other(href="") GEORGE WILLAMS
                                            a.other(href="") 13 LIKES
                                            a.other(href="") 14 COMMENTS
                                    p The one day when the lady met this fellow and they knew it was much more than a hunch the first mate and his Skipper too will do their comfortable all of them had hair of gold like their mother the youngest one in curls knight Rider a shadowy flight into the dangerous world of a man who does not exist now were up in the big leagues getting our turn at bat.
                                    a.read-more(href="blog.html")
                                        button.btn.btn-orange read more

                                .content-left-item
                                    a(href="")
                                        img(src="images/5.jpg")
                                    .item-title
                                        .date
                                            h5 07
                                            span APR
                                        .text
                                            h5
                                                a(href="") CRUST WITH SPICY SAUCE
                                            span BY
                                            a.other(href="") GEORGE WILLAMS
                                            a.other(href="") 16 LIKES
                                            a.other(href="") 20 COMMENTS
                                    p The one day when the lady met this fellow and they knew it was much more than a hunch the first mate and his Skipper too will do their comfortable all of them had hair of gold like their mother the youngest one in curls knight Rider a shadowy flight into the dangerous world of a man who does not exist now were up in the big leagues getting our turn at bat.
                                    a.read-more(href="blog.html")
                                        button.btn.btn-orange read more
                                .content-left-item
                                    a(href="")
                                        img(src="images/6.jpg")
                                    .item-title
                                        .date
                                            h5 07
                                            span APR
                                        .text
                                            h5
                                                a(href="") PREPARATION OF PIZZA
                                            span BY
                                            a.other(href="") GEORGE WILLAMS
                                            a.other(href="") 22 LIKES
                                            a.other(href="") 15  COMMENTS
                                    p The one day when the lady met this fellow and they knew it was much more than a hunch the first mate and his Skipper too will do their comfortable all of them had hair of gold like their mother the youngest one in curls knight Rider a shadowy flight into the dangerous world of a man who does not exist now were up in the big leagues getting our turn at bat.
                                    a.read-more(href="blog.html")
                                        button.btn.btn-orange read more
                                .list-page
                                    ul
                                        li
                                            a(href="")
                                                i.fa.fa-angle-double-left
                                                | PREV

                                        li
                                            a(href="") 1
                                        li.active
                                            a(href="") 2
                                        li
                                            a(href="") 3
                                        li
                                            a(href="")
                                                | NEXT
                                                i.fa.fa-angle-double-right





                        .col-sm-4.padding-0
                            .content-right
                                .content-title
                                    h3 SEARCH KEYWORDS
                                    img(src="images/62.png")
                                .input-group.margin-50
                                    input.form-control(type='text' placeholder="Search here...")
                                    button.btn.btn-search
                                        i.fa.fa-search
                                .content-title
                                    h3 CATEGORIES
                                    img(src="images/62.png")
                                .list-dish.margin-50
                                    ul
                                        li
                                            a(href="menu.html")
                                                i.fa.fa-plus
                                                | Burrata
                                        li
                                            a(href="menu.html")
                                                i.fa.fa-plus
                                                | Calzone
                                        li
                                            a(href="menu.html")
                                                i.fa.fa-plus
                                                | Glute-Free Pizza
                                        li
                                            a(href="menu.html")
                                                i.fa.fa-plus
                                                | Gluten-Free Pasta
                                        li
                                            a(href="menu.html")
                                                i.fa.fa-plus
                                                | Mozarella
                                        li
                                            a(href="menu.html")
                                                i.fa.fa-plus
                                                | Pepperoni
                                .content-title
                                    h3 RECENT POST
                                    img(src="images/62.png")
                                .list-post.margin-50
                                    .list-post-item
                                        a(href="").item-img
                                            img(src="images/10.jpg")
                                        .item-text
                                            a(href="") The one day when the lady met this fellow than a hunch.
                                            .impormation-member
                                                span By
                                                p.name Leo Guard
                                                p.date April 25,2016

                                    .list-post-item
                                        a(href="").item-img
                                            img(src="images/11.jpg")
                                        .item-text
                                            a(href="") This is what we call the shown Muppet Show
                                            .impormation-member
                                                span By
                                                p.name Matt Finch
                                                p.date March 5,2016
                                    .list-post-item
                                        a(href="").item-img
                                            img(src="images/12.jpg")
                                        .item-text
                                            a(href="") These Happy Days are yours and mine Happy Days.
                                            .impormation-member
                                                span By
                                                p.name Lionel Messi
                                                p.date May 20,2016


                                .content-title
                                    h3 VIDEO WIDGETS
                                    img(src="images/62.png")
                                .video-make-pizza.margin-50
                                    <iframe width="100%" height="250" src="https://www.youtube.com/embed/cktFEfXts24" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                .content-title
                                    h3 ARCHIVES
                                    img(src="images/62.png")
                                .list-dish
                                    ul
                                        li
                                            a(href="")
                                                i.fa.fa-plus
                                                | December 2016
                                        li
                                            a(href="")
                                                i.fa.fa-plus
                                                | January 2016
                                        li
                                            a(href="")
                                                i.fa.fa-plus
                                                | February 2016
                                        li
                                            a(href="")
                                                i.fa.fa-plus
                                                | March 2016
                                        li
                                            a(href="")
                                                i.fa.fa-plus
                                                | April 2016
                                        li
                                            a(href="")
                                                i.fa.fa-plus
                                                | May 2016
        include jades/footer.jade
        .background-moblie
        script(type='text/javascript' src="js/libs/jquery-3.2.1.slim.min.js")
        script(type='text/javascript' src="js/libs/bootstrap-4.0.0.min.js")
        script(type="text/javascript" src="main.js")