doctype html
html(lang="vi")
    head
        include jades/head.jade
        link(rel="stylesheet" href="css/our-services.css")
body
    include jades/header.jade
    include jades/navbar.jade

    main
        section.content-one
            .container
                .content-text
                    h2  services
                    a(href="") Home
                    span services

        section.content-two
            .container
                .content-title.text-center
                       h5 Our Friendly Care
                       span SERVICES
                       img(src="images/11.png")

                .content-service
                    .row
                       .col-sm-4.col-lg-3
                           .left-item
                               i.fa.fa-user
                               h6 SMILING SERVICES
                               p The one day when lady met fellow and they knew it was much more than a hunch the first mate and his Skipper.
                           .left-item
                               i.fa.fa-check-square-o
                               h6 BEST QUALITY
                               p The one day when lady met fellow and they knew it was much more than a hunch the first mate and his Skipper.
                           .left-item
                               i.fa.fa-cutlery
                               h6 GLOBAL FLAVOURS
                               p The one day when lady met fellow and they knew it was much more than a hunch the first mate and his Skipper.
                       .col-sm-4.col-lg-6
                           .images-item
                               img(src="images/51.png")
                        .col-sm-4.col-lg-3
                            .right-item
                                i.fa.fa-users
                                h6 GREAT ATMOSHPERE
                                p The one day when lady met fellow and they knew it was much more than a hunch the first mate and his Skipper.
                            .right-item
                                i.fa.fa-spoon
                                h6 FRESHLY MADE
                                p The one day when lady met fellow and they knew it was much more than a hunch the first mate and his Skipper.
                            .right-item
                                i.fa.fa-tint
                                h6 NATURAL INGREDIENTS
                                p The one day when lady met fellow and they knew it was much more than a hunch the first mate and his Skipper.
        section.content-three
            .container
                .row
                    .col-sm-5.order-1
                        img.img-fluid(src="images/52.png")
                    .col-sm-7
                        .content-text
                            h2 Door Step Delivery
                            img(src="images/24.png")
                            p The one day when the lady met this fellow and they knew it was much more than a hunch the first mate and his Skipper too will do their comfortable knew it was much more than a hunch the first mate.



                        .content-order
                            a(href="menu.html")
                                button.btn.btn-orange order online
                            p (OR)
                            p.call
                                |ORDER THROUGH ONE CALL:
                                span (04) 36.666.888

        include jades/our-menu.jade
        section.content-four
            .process-img-top
                img(src="images/process-top-img.png")
            .container
                .content-title.text-center
                    h5 Our Baking Theory
                    span PROCESS
                    img(src='images/11.png')
                    .row
                        .col-sm-8.offset-sm-2
                            p The one day when the lady met this fellow and they knew it was much more than a hunch the first mate and his Skipper too will do their comfortable.

                .process-done
                    .row
                        .col-sm-7.offset-sm-5.col-xs-12
                            .process-item.process-left
                                img.material(src="images/53.png")
                                img(src="images/61.png")
                                .process-text
                                    h5 CHESSE
                                    p The one day when the lady met this fellow
                        .col-sm-7.col-xs-12
                            .process-item.process-right
                                .process-text
                                    h5 CHESSE
                                    p The one day when the lady met this fellow
                                img(src="images/61.png")
                                img.material(src="images/54.png")
                        .col-sm-7.offset-sm-5.col-xs-12
                            .process-item.process-left
                                img.material(src="images/55.png")
                                img(src="images/61.png")
                                .process-text
                                    h5 CHESSE
                                    p The one day when the lady met this fellow
                        .col-sm-7.col-xs-12
                            .process-item.process-right
                                .process-text
                                    h5 CHESSE
                                    p The one day when the lady met this fellow
                                img(src="images/61.png")
                                img.material(src="images/56.png")
                        .col-sm-7.offset-sm-5.col-xs-12
                            .process-item.process-left
                                img.material(src="images/57.png")
                                img(src="images/61.png")
                                .process-text
                                    h5 CHESSE
                                    p The one day when the lady met this fellow
                        .col-sm-7.col-xs-12
                            .process-item.process-right
                                .process-text
                                    h5 CHESSE
                                    p The one day when the lady met this fellow
                                img(src="images/61.png")
                                img.material(src="images/58.png")
                        .col-sm-7.offset-sm-5.col-xs-12
                            .process-item.process-left
                                img.material(src="images/59.png")
                                img(src="images/61.png")
                                .process-text
                                    h5 CHESSE
                                    p The one day when the lady met this fellow
                        .col-sm-7.col-xs-12
                            .process-item.process-right
                                .process-text
                                    h5 CHESSE
                                    p The one day when the lady met this fellow
                                img(src="images/61.png")
                                img.material(src="images/60.png")
            .process-img-bottom
                img(src="images/process-bottom-img.png")
    include jades/footer.jade
    .background-moblie
    script(type='text/javascript' src="js/libs/jquery-3.2.1.slim.min.js")
    script(type='text/javascript' src="js/libs/bootstrap-4.0.0.min.js")
    script(type="text/javascript" src="main.js")