//
   Created by Thanh Dat on 02/11/2018.
header.header
    .container
        .header-top
            .d-none.d-sm-block.header-top-left
                p
                    i.fa.fa-phone
                    a(href='')
                        span Call at:
                        | (03) 49.657.827
                p
                    i.fa.fa-envelope-o
                    a(href='')
                        span Mail at:
                        | nguyentruato@gmail.com
            a.header-btn.d-block.d-sm-none(href="")
                span.icon-bar
                span.icon-bar
                span.icon-bar
            .header-logo
                img(src='images/logo1.png')
            .d-none.d-sm-block.header-top-right
                .top-icon
                    i.fa.fa-facebook
                    i.fa.fa-twitter
                    i.fa.fa-google-plus
                    i.fa.fa-instagram
                button.btn.btn-order Order online
