section.our-menu.main_one
    .container
        .our-menu-text
            h2 Fresh From FamilyPizza
            span our menu
            img(src='images/11.png')
            p
                | The one day when the lady met this fellow and they knew it was much more than a hunch the first mate and his
                br
                |   Skipper too will do their comfortable.


        .list-dish
            .row
                .col-xs-6.col-sm-3.trai
                    .list-dish-left
                        .dish-item(data-option="images/33.png" data-name="BURRATA" data-price="$22.00 - $27.00")
                            img(src="images/12.png")
                            span burrata
                        .dish-item.sale(data-option="images/28.png" data-name="CALZONE" data-sale="$22.00 - $16.00")
                            img(src="images/27.png")
                            span calzone
                        .dish-item(data-option="images/29.png" data-name="GLUTEN-FREE PASTA" data-price="$19.00 - $24.00")
                            img(src="images/26.png")
                            span GLUTE-FREE PIZZA
                .col-xs-12.col-sm-6.giua
                    .list-dish-center
                        .big-dish.active1
                            img(src="images/33.png")
                            h4 BURRATA
                            span $22.00 – $27.00
                            a(href="product-detail.html")
                                button.btn.btn-buy_now Buy now
                .col-xs-6.col-sm-3.phai
                    .list-dish-right
                        .dish-item(data-option="images/30.png" data-name="GLUTEN-FREE PASTA" data-price="$14.30 - $18.45")
                            img(src="images/25.png")
                            span GLUTEN-FREE PASTA
                        .dish-item(data-option="images/32.png" data-name="MOZARELLA" data-price="$15.00 - $19.00")
                            img(src="images/14.png")
                            span MOZARELLA
                        .dish-item(data-option="images/31.png" data-name="QUATTRO FORMAGGI" data-price="$13.50 - $17.00")
                            img(src="images/15.png")
                            span QUATTRO FORMAGGI
section.feel_back-member.main_two
    .bg-black
    .feel_back-text
        h3 Everybody likes Pizza! It's a Quick and Easy Clean-Up Meal.
        .buddy
            img(src="images/16.png")
            p buddy valastro
            img(src="images/17.png")